/*Gallery page*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.slider {
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    overflow: hidden;
}

.images-slider {
    position: relative;
    width: 50%;
    display: none;
}

.images-slider img {
    position: absolute;
    height: 40px;
    width: 50%;
    transition: all 0.15s ease;
}

.images-slider input {
    display: none;
}

